* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  height: 100vh;
  background-color: #cf15a6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper {
  margin: auto;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.box {
  margin-top: 50px;
  width: 40%;
  background-color: #cf15c8;
  border-radius: 5px;
  border: 1px solid #fff;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5), -2px -2px 2px rgba(255, 255, 255, 0.5);
          box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5), -2px -2px 2px rgba(255, 255, 255, 0.5);
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

.box label {
  cursor: pointer;
}

.box h2 {
  margin-bottom: 10px;
  padding-left: 10px;
  padding-top: 10px;
}

.box p {
  padding-left: 10px;
  padding-bottom: 10px;
}

.box input {
  width: 100%;
}
